.navbar-container li {
  list-style-type: none;
}

.navbar-container li h5 {
  font-weight: bold;
}
.navbar-container nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.navbar-right {
  margin-right: 30px;
  margin-top: 10px;
}
nav .logout {
  background-color: #000;
  color: white;
  font-size: 13px;
  padding: 6px 14px 6px 14px;
  border-radius: 5px;
  cursor: pointer;
}
nav .logout:hover {
  background-color: #1f244a;
  transition: 0.1s;
}
.navbar-left {
  margin-left: 10px;
}

.table-wrapper {
  margin-top: 40px !important;
  width: 80%;
  margin: auto;

  border-radius: 10px;
  background-color: #fff;
}
.table-container {
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 15px;
}
.table-container h4 {
  padding: 5px;
}
.table-container table {
  font-size: 15px;
}
.table-container table th,
td {
  border-top: none;
  font-weight: normal;
}
.title-column {
  width: 350px;
}
.author-column {
  width: 250px;
}
.isbn-column {
  width: 150px;
}
.pages-column {
  width: 110px;
}
.price-column {
  width: 100px;
}
.action-column {
  width: 200px;
}
.add-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.btn {
  margin-right: 3px;
}

.add-btn {
  width: 200px;
  border-radius: 17px;
  background-color: #000;
  font-size: 14px;
  border: none;
}

.add-btn:hover {
  background-color: #1f244a;
}
tbody td {
  vertical-align: middle;
}

.search-input {
  border-radius: 17px;
  font-size: 14px;
}

.search-btn {
  border-radius: 17px;
  font-size: 14px;
  background-color: #000;
  color: #fff;
}
.search-btn:hover {
  background-color: #1f244a;
}
.form-inline input {
  width: 300px;
}

.logout-btn {
  border-radius: 17px;
}

.dashboard-container {
  width: 50%;
  height: 160px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #efefef;
  border-radius: 30px;
}

.dashboard-content {
  padding: 10px;
}
.dashboard-content h2 {
  text-align: center;
}

.booksno-container {
  padding: 20px;
}

.overview-container {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.average-price-container {
  padding: 20px;
}

.time-container {
  padding: 20px;
}

.update-btn {
  background-color: #4f95d0;
  font-size: 14px;
}

.update-btn:hover {
  background-color: #1f244a;
}

.delete-btn {
  font-size: 14px;
}
