<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<div class="header-container">
  <h2>Update Book details.</h2>
</div>

<div
  *ngIf="isUpdated"
  class="alert alert-success alert-dismissible"
  role="alert"
  style="margin-top: 15px"
>
  Book updated — check it out!
  <button
    (click)="closeAlert()"
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="updateBook()" novalidate>
    <div class="form-group">
      <label for="bookName">Book Title</label>
      <input
        type="text"
        class="form-control"
        name="bookName"
        aria-describedby="emailHelp"
        placeholder="Enter Book Title"
        formControlName="title"
        required
      />

      <div
        class="feedback"
        *ngIf="
          form.controls['title'].invalid &&
          (form.controls['title'].dirty || form.controls['title'].touched)
        "
      >
        <small>Please enter the book title</small>
      </div>
    </div>
    <div class="form-group">
      <label for="bookAuthor">Book Author</label>
      <input
        type="text"
        class="form-control"
        name="bookAuthor"
        placeholder="Enter Book Author"
        formControlName="author"
        required
      />

      <div
        class="feedback"
        *ngIf="
          form.controls['author'].invalid &&
          (form.controls['author'].dirty || form.controls['author'].touched)
        "
      >
        <small>Please enter the book author</small>
      </div>
    </div>
    <div class="form-group">
      <label for="isbn">ISBN Number</label>
      <input
        type="text"
        class="form-control"
        name="isbn"
        placeholder="Enter ISBN Number"
        formControlName="isbn"
        required
      />
      <div
        class="feedback"
        *ngIf="
          form.controls['isbn'].invalid &&
          (form.controls['isbn'].dirty || form.controls['isbn'].touched)
        "
      >
        <small>Please enter the isbn number</small>
      </div>
    </div>
    <div class="form-group">
      <label for="noOfPages">No of Pages</label>
      <input
        type="text"
        class="form-control"
        name="noOfPages"
        placeholder="Enter number of pages"
        formControlName="pages"
        required
      />
      <div
        class="feedback"
        *ngIf="
          form.controls['pages'].invalid &&
          (form.controls['pages'].dirty || form.controls['pages'].touched)
        "
      >
        <div
          class="feedback-details"
          *ngIf="form.controls['pages'].errors?.['required']"
        >
          <small>Please enter the no of pages</small>
        </div>
        <div
          class="feedback-details"
          *ngIf="form.controls['pages'].errors?.['pattern']"
        >
          <small>No of pages should be a number</small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="text"
        class="form-control"
        name="price"
        placeholder="Enter the price"
        formControlName="price"
        required
      />
      <div
        class="feedback"
        *ngIf="
          form.controls['price'].invalid &&
          (form.controls['price'].dirty || form.controls['price'].touched)
        "
      >
        <div
          class="feedback-details"
          *ngIf="form.controls['price'].errors?.['required']"
        >
          <small>Please enter the price</small>
        </div>

        <div
          class="feedback-details"
          *ngIf="form.controls['price'].errors?.['pattern']"
        >
          <small>Price should be a number</small>
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-lg btn-block"
      [disabled]="!form.valid"
    >
      Update the Book
    </button>
    <button
      type="button"
      routerLink="../../list"
      class="btn btn-secondary btn-lg btn-block"
    >
      Back
    </button>
  </form>
</div>
