.form-container {
  width: 30%;
  margin: auto;
}

form {
  margin-top: 55px;
}

h2 {
  margin-top: 60px;
  text-align: center;
}

label::after {
  content: "*";
  color: red;
}

.btn {
  margin-right: 10px;
}

.feedback {
  color: red;
}

.create-btn {
  border-radius: 17px;
}

.back-btn {
  border-radius: 17px;
}

.button-group {
  margin-top: 20px;
}

.login-container a {
  text-decoration: none;
}
.login-container a:hover {
  color: #000;
}
