<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<h2>Set up your account.</h2>
<div
  *ngIf="isSubmitted"
  class="alert alert-success alert-dismissible"
  role="alert"
  style="margin-top: 15px"
>
  User has created! - Please Login to continue
  <button
    (click)="closeAlert()"
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="form-container">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Firstname</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="emailHelp"
        name="email"
        formControlName="firstname"
        required
      />
      <div
        class="feedback"
        *ngIf="
          form.controls['firstname'].invalid &&
          (form.controls['firstname'].dirty ||
            form.controls['firstname'].touched)
        "
      >
        <small>Firstname is required</small>
      </div>
    </div>
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input
        type="text"
        class="form-control"
        name="firstname"
        required
        formControlName="lastname"
      />
      <div
        class="feedback"
        *ngIf="
          form.controls['lastname'].invalid &&
          (form.controls['lastname'].dirty || form.controls['lastname'].touched)
        "
      >
        <small>Lastname is required</small>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        formControlName="email"
        required
        autocomplete="username"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >

      <div
        class="feedback"
        *ngIf="
          form.controls['email'].invalid &&
          (form.controls['email'].dirty || form.controls['email'].touched)
        "
      >
        <small>Enter a correct email address</small>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        formControlName="password"
        autocomplete="current-password"
      />
      <div
        class="feedback"
        *ngIf="
          form.controls['password'].invalid &&
          (form.controls['password'].dirty || form.controls['password'].touched)
        "
      >
        <small>Password is required</small>
      </div>
    </div>

    <div class="form-group button-group">
      <button
        (click)="createUser()"
        type="submit"
        class="btn btn-primary create-btn"
        [disabled]="!form.valid"
      >
        Create Account
      </button>
    </div>
    <hr />
    <div class="login-container">
      <small
        >Already have an account? <a routerLink="..">Sign in &rarr;</a>
      </small>
    </div>
  </form>
</div>
