.form-container {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
label:after {
  content: "*";
  color: red;
}
h2 {
  margin-top: 50px;
  text-align: center;
}

.feedback {
  color: red;
}

.header-container {
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.btn-block {
  border-radius: 23px;
}
