/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}
